<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmed</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Booking Confirmed!</h1>
        <p>Your event is booked. A confirmation email with a meeting link has been sent to  <strong><%= email%></strong>.</p>
        <p>Join your meeting here: <a href="<%= meetingLink %>" target="_blank">MetingLink</a></p>
        <button class="btnnext"><a href="/">Book Another Event</a></button>
    </div>

</body>
</html>
